* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: serif;
  line-height: 1.5;
  cursor: none;
}

.container {
  --color: #1e1e1e;
  align-items: center;
  background-color: var(--color);
  color: var(--color);
  display: flex;
  flex-direction: column;
}

.contents {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  gap: 1rem;
  padding: 2rem;
  width: min(100%, 720px);
  position: relative;
}

.stalker {
  --size: 240px;
  pointer-events: none;
  position: fixed;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  top: calc(-1 * var(--size) / 2);
  left: calc(-1 * var(--size) / 2);
  background: rgb(255 255 255 / 0.5);
  mix-blend-mode: screen;
  transition: transform 50ms ease-out;
}

.stalker.background {
  filter: blur(96px);
}

.stalker.foreground {
  filter: blur(32px);
}
